<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SemProject_HMS.Properties.Settings.dbHMSConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=dbHMS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="SemProject_HMS.Properties.Settings.HMSDatabaaseConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HMSDatabaase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="SemProject_HMS.Properties.Settings.HMS_DBConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HMS-DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>